<div class="panel-body">
  <div class="col-xs-offset-1">
    <div class="row">
      <div class='col-md-1'>Student Name:</div>
      <div class='col-md-1'>
        <input type="text" placeholder="StudentName" [(ngModel)]='student.studentName' />
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class='col-md-1'>Profile Picture:</div>
      <div class='col-md-1'>
        <input type="file"
               (change)="fileUploadEvent($event.target.files)"
                accept=".png,.jpg,.jpeg"
                />
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-md-1">
        <button class="btn-block btn-default"
                [disabled]="disabled"
                [ngClass]="{'btn-primary': !disabled}"
                (click)="AddOrUpdateStudent()">
                Submit
          </button>
      </div>
      <div class="col-md-1">
        <button class="btn-block" (click)="Cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>